$fontsize: 12px;
$fontfamily: 'Montserrat', sans-serif;
$bgcolor: #fff;
$accent: #2b2a2c;
$secondary: #6a696b;
$fontweight: 400;

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
